@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --disabled: #eaeaea;
  --primary: #6ab098;
  --primary-foreground: #ffffff;
  --secondary: #ede9e6;
  --secondary-foreground: #000000;
  --cream: #fff3e0;
  --cream-foreground: #000000;
  --dark: #2d3130;
  --background-dark: #23272f;
  --grey: #d9d9d9;
}

@theme inline {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-foreground: var(--foreground);
  --color-disabled: var(--disabled);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-cream: var(--cream);
  --color-cream-foreground: var(--cream-foreground);
  --color-dark: var(--dark);
  --color-grey: var(--grey);

  --font-sans: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-code-next), ui-monospace, SFMono-Regular, monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
}
